/*YatFanLan
@name        Hide importing phone photo album
@description 隐藏文件侧边栏下方的导入手机相册功能
@homepageURL https://github.com/YatFanLan/Hide-importing-phone-photo-album

YatFanLan*/
/*隐藏文件侧边栏下方的导入手机相册功能 /
[data-v-0cc38b2a][data-v-0cc38b2a].wifiphoto-btn {
display: none; / 或者 /
visibility: hidden; / 或者 */
opacity: 0;
pointer-events: none;
}
